<html>
<head><title>Terms and Conditions</title></head>
<body>
<h2 style="text-align: center;"><strong>Terms and Conditions</strong></h2>
<p style="text-align: justify;">I, as a User accept the following conditions by registration :</p>
<ul>
    <li style="text-align: justify;">The given credentials are valid</li>
    <li style="text-align: justify;">The administrator can overview and modify my credentials if necessary</li>
    <li style="text-align: justify;">My credentials are stored until I decide to delete them by requesting my profile removal.</li>
</ul>
<p>I read carefully all of the above terms.</p>
<p><input type="button" value="Go back" onClick="history.go(-1)"></p>
</body>
</html>